<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">SISTEMA</a>
      <button
        data-mdb-collapse-init
        class="navbar-toggler"
        type="button"
        data-mdb-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="admin/alunos">Aluno</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin/curso">Curso</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin/professor">Professor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin/turma">Turma</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>