<body>
  <div class="container" >
    <div class="row">
  
      <div class="col-lg-4"></div>
  
      <div class="col-lg-4 centralizar topo" >
    
        <div class="card">
          <div class="card-body">
            <h3>logar</h3>
            <br>
            <div class="form-outline" data-mdb-input-init>
              <input type="text" id="Usuario" class="form-control" [(ngModel)]="Usuario" />
              <label class="form-label" for="form12">Usuario</label>
            </div>
            <br>
            <div class="form-outline" data-mdb-input-init>
              <input type="password" id="Senha" class="form-control" [(ngModel)]="Senha"/> 
              <label class="form-label" for="form12">Senha</label> 
            </div>
            <br>
            <button type="button" class="btn btn-primary btn-rounded" data-mdb-ripple-init (click)="logar()">ACESSAR</button>
          </div>
        </div>
      </div>  
  
      <div class="col-lg-4"></div>
    </div>
    
  </div>
  
  
</body>